---
layout: compress
---

<!doctype html>
{% assign lang = page.lang | default: "en" %}
{% assign ui = site.data.i18n[lang] %}
<html lang="{{ ui.html_lang }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
          {% if site.visitor_counter %}
            <div class="page__visitor-counter">
              <i class="fas fa-fw fa-eye" aria-hidden="true"></i>
              {{ ui.sidebar.visitors }}: <span id="visitor_count">801</span><span id="busuanzi_site_uv" hidden aria-hidden="true"></span>
            </div>
          {% endif %}
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
